{
  "extends": [],
  "ignorePatterns": ["src/schema", "types", "**/*.js"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "root": true,
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": false,
        "natural": false,
        "minKeys": 2
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "memberLike",
        "modifiers": ["private"],
        "format": ["camelCase"],
        "leadingUnderscore": "require"
      },
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ]
  }
}

